<!DOCTYPE html>

@inject EnglishCourse.Logic.Interfaces.IAccountService _accountService

<html >
<head >
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EnglishCourse</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <script src="~/js/jquery.serializejson.js"></script>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

</head>
<body class="bd">
    
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">EnglishCourse</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        var role = _accountService.GetRole(User.Identity.Name);

                        if (role == "Admin")
                        {
                            <li><a asp-controller="Theme" asp-action="Index">Theme</a></li>
                            <li><a asp-controller="Test" asp-action="Index">Test</a></li>
                            <li><a asp-controller="Question" asp-action="Index">Question</a></li>
                            <li><a asp-controller="Answer" asp-action="Index">Answer</a></li>
                        }
                        else if (role == "User")
                        {
                            <li><a asp-controller="Account" asp-action="MyProfile">Профиль|Profile</a></li>
                            <li><a asp-controller="Account" asp-action="About">О нас|About Us</a></li>
                            <li><a asp-controller="Account" asp-action="Contacts">Контакты|Contacts</a></li>
                        }
                    }
                </ul>
                <div class="nav navbar-nav" style="margin-top:10px; float:right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a style="cursor:pointer;margin-right:5px">Dear: @User.Identity.Name</a>
                        <a asp-area="" asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-success">Sign in</a>
                        <a asp-area="" asp-controller="Account" asp-action="Registration" class="btn btn-primary">Sign up</a>
                    }
                </div>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - EnglishCourse.WEB</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
