
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-left:450px">О нас About us</h2>
<div class="row">
    
        
    <form asp-action="About">

        <h4 style="margin-left:450px">
            Добро пожаловать в EnglishCourse!
            <br />
            Welcome to EnglishCourse!
        </h4>
        <div style="width: 100%;">
            <label style="width:50%; float:left">

                Этот курсовой проект был разработан в 2019 году и представляет собой курсы изучения английского языка.
                Он состоит из тем, описания этих тем, тестов к темам и результатов.
                <br />

                Английский язык сейчас считается важнейшим международным языком в мире. В современном мире знание английского языка просто необходимо – и в бизнесе, и в учебе, и в работе, и в путешествиях. Он важен как для детей/подростков, так и для взрослых.
                <br />
                В настоящее время есть очень много курсов и репетиторов для изучения языков, но иногда бывает очень тяжело найти свободное время на поездку в эти школы или к репетитору.
                <br />
                Данное веб-приложение поможет вам в изучении: вы можете бесплатно просматривать темы, проходить тесты, видеть свои результаты.
                <br />
                Желаем вам успехов в изучении английского языка!!!



            </label>
            <img style="width:400px; float:right" src="~/images/welcome.jpg" alt="Tales" class="img-responsive" />
        </div>

    </form>

</div>

