
@{
    ViewData["Title"] = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-left:350px">Наши контакты Our contacts</h2>
<div class="row">


    <form asp-action="Contacts">

        <h4 style="margin-left:250px">
            Если у вас возникнут вопросы или проблемы, напишите нам на почту или позвоните.
            <br />
            If you will have any questions or troubles, write to us on email or call.
        </h4>
        <div style="width: 100%;">
            <label style="width:75%; float:right">

                Почта:
                <br />
                tarasevichdarya@yandex.by
                <br />
                <br />
                Номер телефона:
                <br />
                +375296923234
                <br />
                <br />
                <br />
                Желаем вам успехов в изучении английского языка!!!



            </label>
            <img style="width:150px; float:left" src="~/images/contacts.jpg" alt="Tales" class="img-responsive" />
        </div>

    </form>

</div>



